<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>학과상세</h2>
    </div>
    <div class="row justify-content-center">
        <form class="col-sm-10" method="get">
            <div class="form-group">
                <label for="departId">학과이름</label>
                <input id="departId" type="text" th:value="${department.id}" class="form-control"
                       placeholder="학과이름" readonly>
            </div>

            <div class="form-group">
                <label for="name">학과이름</label>
                <input id="name" type="text" th:value="${department.name}" class="form-control"
                       placeholder="부서명" readonly>
            </div>

            <div class="form-group">
                <label for="loc">위치</label>
                <input id="loc" type="text" th:value="${department.loc}" class="form-control"
                       placeholder="위치" aria-describedby="locHelp" readonly>
            </div>

            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg"
                            onclick="location.href='/department/edit.html'"
                            th:onclick="|location.href='@{/department/list/{departId}/edit(departId=${department.id})}'|"
                            type="button">학과 수정
                    </button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='/department/list.html'"
                            th:onclick="|location.href='/departments'|"
                            type="button">목록
                    </button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-outline-danger btn-lg"
                            onclick="location.href='/department/list'"
                            th:onclick="|location.href='@{/department/list/{departId}/delete(departId=${department.id})}'|"
                            type="button">삭제
                    </button>
                </div>
            </div>
        </form>
    </div>

    <br />
    <br />
    <div th:replace="fragments.html :: footer"></div>
</div>
</body>
</html>